@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height:100vh;
    background-color: #B61919;
    overflow: hidden;
    background-size:cover ;
    font-family: 'Poppins', sans-serif;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin:100px auto;
    min-width: 300px;
    max-width: 60%;
    height:65vh;
    background-color:rgba(255, 255, 255, 0.384) ;
    border-radius: 10px;

}
.search{
    margin-top: 15px;
    margin-bottom: 22px;
}
input{
    height:35px;
    width:90%;
    padding:10px;
    text-align: center;
    font-size: 1rem;
    border-radius: 10px;
    border: rgba(104, 98, 98, 0.616);
}
.display{
  height: 100%;
}
.initial-details{
    margin-bottom: 20px;
}
.city{
    margin-bottom: 4px;
    font-weight: 600;
}
.date{
    word-spacing: 4px;
}
.tempreture{
    font-size: 3.3rem;
    font-weight: 600;
}
.min-max{
    margin-top: 20px;
    font-weight: 600;
}
.catagory{
    font-weight: 400;
}
img{
    height:80px;
    width:80px;
}